{% extends "layout.html" %}
{% block content %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Sup(y), What's your story?</h1>
    <p class="lead">
      Someone's inspiration can be another's aspiration.
      Everyone has a story. You share. We listen.
    </p>
    {% if current_user.is_authenticated %}
      <p class="lead">
        <a href="{{ url_for('share')}}" class="btn btn-lg btn-secondary">Share my story</a>
      </p>
    {% endif %}
  </main>
{% endblock content %}
