{% extends "layout.html" %}
{% block content %}
  <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
  {% for post in posts.items %}
    <div class="posts">
      <div class="ind-post">
        <h1><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h1>
        <p class="desp"><a href="{{ url_for('users.user_posts', username=post.author.username)}}">By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</a></p>
        <p class="cont">{{ post.content }}</p>
      </div>
    </div>
  {% endfor %}
  <div class="btn-group" id="pags">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
